<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482827005790-f9ohaos3bvddb3jues4jmfsg4vq0lgk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482827005790-f9ohaos3bvddb3jues4jmfsg4vq0lgk6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>482827005790-59lsirrmni8atfustmevtptlvmvjih1e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCB4y77xrxWF-NNel24Z_2bX5_2LKjNd8I</string>
	<key>GCM_SENDER_ID</key>
	<string>482827005790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.protech.blackhisttcalender</string>
	<key>PROJECT_ID</key>
	<string>my-bhc-d7078</string>
	<key>STORAGE_BUCKET</key>
	<string>my-bhc-d7078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:482827005790:ios:db973c48ff6daa9b5669cf</string>
</dict>
</plist>
